<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	
	<bean id="environmentVariablesConfiguration" class="org.jasypt.encryption.pbe.config.EnvironmentPBEConfig">
		<property name="algorithm" value="PBEWithMD5AndDES" />
		<property name="password" value="303str0z@p$tri1091ricc0ch$t" />
	</bean>
	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config" ref="environmentVariablesConfiguration" />
	</bean>
	<bean id="propertyConfigurer" class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configurationEncryptor"/>
		<property name="location" value="WEB-INF/jdbc.properties" />
	</bean>
	<!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="WEB-INF/jdbc.properties" />
	</bean>-->
	<!-- the data source class is recommend to use com.mchange.v2.c3p0.ComboPooledDataSource in production phase -->
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
 		<property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
       	<property name="user" value="${jdbc.userName}"/>
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="dataSourceTitan" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
 		<property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.titan.url}"/>
       	<property name="user" value="${jdbc.titan.userName}"/>
		<property name="password" value="${jdbc.titan.password}" />
	</bean>
	
	<!-- define Hibernate sessionFactory provided by Spring ORM -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- set other Hibernate properties in hibernate.cfg.xml file -->
  		<property name="configLocation" value="WEB-INF/hibernate.cfg.xml" />
	</bean>
	
	<bean id="jdbcTemplateTitan" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg>
			<ref bean="dataSourceTitan"/>
		</constructor-arg>
	</bean>
	
	<!-- define Hibernate sessionFactory provided by Spring -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	
	<!-- <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean> -->
	
	<!-- for using annotation @Transaction in DAOs -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- inject relative DAO and Service beans -->
	<bean id="agenciaDAO" class="com.cystesoft.vyrbus.model.dao.impl.AgenciaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="busDAO" class="com.cystesoft.vyrbus.model.dao.impl.BusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="canalVentaDAO" class="com.cystesoft.vyrbus.model.dao.impl.CanalVentaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="clienteDAO" class="com.cystesoft.vyrbus.model.dao.impl.ClienteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="concesionarioDAO" class="com.cystesoft.vyrbus.model.dao.impl.ConcesionarioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoMovimientoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoMovimientoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="controlEspecieValoradaDAO" class="com.cystesoft.vyrbus.model.dao.impl.ControlEspecieValoradaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="descuentoRecargoDAO" class="com.cystesoft.vyrbus.model.dao.impl.DescuentoRecargoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="documentoBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.DocumentoBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="especieValoradaDAO" class="com.cystesoft.vyrbus.model.dao.impl.EspecieValoradaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="estadoBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.EstadoBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="estadoCivilDAO" class="com.cystesoft.vyrbus.model.dao.impl.EstadoCivilDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="estadoDocumentoBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.EstadoDocumentoBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="formaPagoDAO" class="com.cystesoft.vyrbus.model.dao.impl.FormaPagoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="grupoMantenimientoDAO" class="com.cystesoft.vyrbus.model.dao.impl.GrupoMantenimientoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="itinerarioAgenciaPartidaDAO" class="com.cystesoft.vyrbus.model.dao.impl.ItinerarioAgenciaPartidaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="itinerarioAgenciaLlegadaDAO" class="com.cystesoft.vyrbus.model.dao.impl.ItinerarioAgenciaLlegadaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="itinerarioDAO" class="com.cystesoft.vyrbus.model.dao.impl.ItinerarioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="detalleItinerarioDAO" class="com.cystesoft.vyrbus.model.dao.impl.DetalleItinerarioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="localidadDAO" class="com.cystesoft.vyrbus.model.dao.impl.LocalidadDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="mapaBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.MapaBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="nacionalidadDAO" class="com.cystesoft.vyrbus.model.dao.impl.NacionalidadDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="numeroFlotaDAO" class="com.cystesoft.vyrbus.model.dao.impl.NumeroFlotaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="objetoBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.ObjetoBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="operadorTarjetaCreditoDAO" class="com.cystesoft.vyrbus.model.dao.impl.OperadorTarjetaCreditoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="pasajeroDAO" class="com.cystesoft.vyrbus.model.dao.impl.PasajeroDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="pasajeroFrecuenteDAO" class="com.cystesoft.vyrbus.model.dao.impl.PasajeroFrecuenteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="personalDAO" class="com.cystesoft.vyrbus.model.dao.impl.PersonalDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="preferenciaAlimentariaDAO" class="com.cystesoft.vyrbus.model.dao.impl.PreferenciaAlimentariaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="rutaDAO" class="com.cystesoft.vyrbus.model.dao.impl.RutaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="servicioDAO" class="com.cystesoft.vyrbus.model.dao.impl.ServicioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="sexoDAO" class="com.cystesoft.vyrbus.model.dao.impl.SexoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tarjetaCreditoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TarjetaCreditoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoAgenciaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoAgenciaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoComprobanteDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoComprobanteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoDocumentoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoDocumentoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoFlotaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoFlotaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoFormaPagoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoFormaPagoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoItinerarioDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoItinerarioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoPersonalDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoPersonalDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoViaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoViaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoZonaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoZonaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ubigeoDAO" class="com.cystesoft.vyrbus.model.dao.impl.UbigeoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="usuarioDAO" class="com.cystesoft.vyrbus.model.dao.impl.UsuarioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ventaPasajesDAO" class="com.cystesoft.vyrbus.model.dao.impl.VentaPasajesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="programacionServicioDAO" class="com.cystesoft.vyrbus.model.dao.impl.ProgramacionServicioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="usuarioHardwareDAO" class="com.cystesoft.vyrbus.model.dao.impl.UsuarioHardwareDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoGastoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoGastoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="cortesiaDAO" class="com.cystesoft.vyrbus.model.dao.impl.CortesiaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="motivocortesiaDAO" class="com.cystesoft.vyrbus.model.dao.impl.MotivocortesiaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="manifiestoDAO" class="com.cystesoft.vyrbus.model.dao.impl.ManisfiestoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tmpOcupacionAsientosDAO" class="com.cystesoft.vyrbus.model.dao.impl.TmpOcupacionAsientosDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="rolDAO" class="com.cystesoft.vyrbus.model.dao.impl.RolDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="UsuarioRolDAO" class="com.cystesoft.vyrbus.model.dao.impl.UsuarioRolDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="opcionMenuDAO" class="com.cystesoft.vyrbus.model.dao.impl.OpcionMenuDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="rolOpcionMenuDAO" class="com.cystesoft.vyrbus.service.business.impl.RolOpcionMenuDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gastoDAO" class="com.cystesoft.vyrbus.model.dao.impl.GastoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="liquidacionBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.LiquidacionBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gastoBusDAO" class="com.cystesoft.vyrbus.model.dao.impl.GastoBusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="liquidacionDAO" class="com.cystesoft.vyrbus.model.dao.impl.LiquidacionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="detalleLiquidacionDAO" class="com.cystesoft.vyrbus.model.dao.impl.DetalleLiquidacionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="liquidacionOficinaDAO" class="com.cystesoft.vyrbus.model.dao.impl.LiquidacionOficinaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="transbordoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TransbordoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="reportesDAO" class="com.cystesoft.vyrbus.model.dao.impl.ReportesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="autorizadorCortesiaDAO" class="com.cystesoft.vyrbus.model.dao.impl.AutorizadorCortesiaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="solicitudCarteraDAO" class="com.cystesoft.vyrbus.model.dao.impl.SolicitudCarteraDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="solicitudClienteCreditoDAO" class="com.cystesoft.vyrbus.model.dao.impl.SolicitudClienteCreditoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tipoCobranzaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoCobranzaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="carteraClienteDAO" class="com.cystesoft.vyrbus.model.dao.impl.CarteraClienteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="usuarioArobadorDAO" class="com.cystesoft.vyrbus.model.dao.impl.UsuarioAprobadorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="lineaContadoClienteDAO" class="com.cystesoft.vyrbus.model.dao.impl.LineaContadoClienteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="lineaCreditoClienteDAO" class="com.cystesoft.vyrbus.model.dao.impl.LineaCreditoClienteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="motivoTemporadaAltaDAO" class="com.cystesoft.vyrbus.model.dao.impl.MotivoTemporadaAltaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="temporadaAltaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TemporadaAltaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
<!-- 	<bean id="detalleManifiestoDA" class="com.tepsa.sisvyr.model.dao.impl.DetalleManifiestoDAOImpl"> -->
<!-- 		<property name="sessionFactory" ref="sessionFactory"/> -->
<!-- 	</bean> -->

	<bean id="promocionDAO" class="com.cystesoft.vyrbus.model.dao.impl.PromocionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="puntosPasajeroFrecuenteDAO" class="com.cystesoft.vyrbus.model.dao.impl.PuntosPasajeroFrecuenteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="parametrosDAO" class="com.cystesoft.vyrbus.model.dao.impl.ParametrosDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
  	<bean id="historicoMembresiaDAO" class="com.cystesoft.vyrbus.model.dao.impl.HistoricoMembresiaDAOImpl">
  		<property name="sessionFactory" ref="sessionFactory" />
  	</bean>
	<bean id="ocupacionAsientosDesbloqueadosDAO" class="com.cystesoft.vyrbus.model.dao.impl.OcupacionAsientosDesbloqueadosDAOImpl">
  		<property name="sessionFactory" ref="sessionFactory" />
  	</bean>
  	<bean id="reniecDAO" class="com.cystesoft.vyrbus.model.dao.impl.ReniecDAOImpl">
  		<property name="sessionFactory" ref="sessionFactory" />
  	</bean>
  	<bean id="historicoControlEspecieValoradaDAO" class="com.cystesoft.vyrbus.model.dao.impl.HistoricoControlEspecieValoradaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="centroCostoDAO" class="com.cystesoft.vyrbus.model.dao.impl.CentroCostoDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="terminosVentaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TerminosVentaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
	<bean id="detalleManifiestoDAO" class="com.cystesoft.vyrbus.model.dao.impl.DetalleManifiestoDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>	
	<bean id="serieEspecieValoradaDAO" class="com.cystesoft.vyrbus.model.dao.impl.SerieEspecieValoradaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="autorizadorMotivoCortesiaDAO" class="com.cystesoft.vyrbus.model.dao.impl.AutorizadorMotivoCortesiaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
   	<bean id="tarifaFechaAbiertaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TarifaFechaAbiertaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="ventaTramoDAO" class="com.cystesoft.vyrbus.model.dao.impl.VentaTramoDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="rangoSobregiroDAO" class="com.cystesoft.vyrbus.model.dao.impl.RangoSobregiroDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="configuracionImpresoraDAO" class="com.cystesoft.vyrbus.model.dao.impl.ConfiguracionImpresoraDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="destinatariosEmailsDAO" class="com.cystesoft.vyrbus.model.dao.impl.DestinatariosEmailsDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	   	<bean id="tipoCentroCostoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoCentroCostoDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tipoMonedaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoMonedaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tipoCambioDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoCambioDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="sessionDAO" class="com.cystesoft.vyrbus.model.dao.impl.SessionDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="reimpresionAnticipadaDAO" class="com.cystesoft.vyrbus.model.dao.impl.ReimpresionAnticipadaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tarifaRegularDAO" class="com.cystesoft.vyrbus.model.dao.impl.TarifaRegularDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>   	
   	<bean id="tarifaClienteDAO" class="com.cystesoft.vyrbus.model.dao.impl.TarifaClienteDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tarifaClienteDetalleDAO" class="com.cystesoft.vyrbus.model.dao.impl.TarifaClienteDetalleDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tipoAsientoDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoAsientoDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="poolLocalidadDAO" class="com.cystesoft.vyrbus.model.dao.impl.PoolLocalidadDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="ventaPoolDAO" class="com.cystesoft.vyrbus.model.dao.impl.VentaPoolDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="ocupacionAsientosBloqueadosPoolDAO" class="com.cystesoft.vyrbus.model.dao.impl.OcupacionAsientosBloqueadosPoolDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tipoNotaDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoNotaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="embarquePasajeroDAO" class="com.cystesoft.vyrbus.model.dao.impl.EmbarquePasajeroDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="detalleEmbarquePasajeroDAO" class="com.cystesoft.vyrbus.model.dao.impl.DetalleEmbarquePasajeroDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="tipoPrecioDAO" class="com.cystesoft.vyrbus.model.dao.impl.TipoPrecioDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="detalleButacaDAO" class="com.cystesoft.vyrbus.model.dao.impl.DetalleButacaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="comprobantesBloqueadosDAO" class="com.cystesoft.vyrbus.model.dao.impl.ComprobantesBloqueadosDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	
   	
<!--    	VENTA DE SEGUROS -->
	<bean id="ventaSeguroDAO" class="com.cystesoft.vyrbus.model.dao.impl.VentaSeguroDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>		
   	
<!--    		TITAN -->
	<bean id="titanDAO" class="com.cystesoft.vyrbus.model.dao.impl.TitanDAOImpl">
   		<property name="jdbcTemplate">
    		<ref bean="jdbcTemplateTitan"/>
    	</property>
   	</bean>		
	
<!--    	HOJA DE RUTA ELECTRONICA -->
	<bean id="mtcRutaDao" class="com.cystesoft.vyrbus.model.dao.impl.MTCRutaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="mtcDireccionTerminalDAO" class="com.cystesoft.vyrbus.model.dao.impl.MTCDireccionTerminalDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="mtcDetalleRutaDAO" class="com.cystesoft.vyrbus.model.dao.impl.MTCDetalleRutaDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="hreDao" class="com.cystesoft.vyrbus.model.dao.impl.HREDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>
   	<bean id="detalleFlotaHREDAO" class="com.cystesoft.vyrbus.model.dao.impl.DetalleFlotaHREDAOImpl">
   		<property name="sessionFactory" ref="sessionFactory" />
   	</bean>		
   	
	
	<!-- 	PARA LOS CONTROLADORES DE LAS DIFERENTES VENTANAS	 -->
	<bean id="agenciaManager" class="com.cystesoft.vyrbus.service.business.impl.AgenciaManagerImpl">
		<property name="agenciaDAO" ref="agenciaDAO"/>
	</bean>
	<bean id="busManager" class="com.cystesoft.vyrbus.service.business.impl.BusManagerImpl">
		<property name="busDAO" ref="busDAO"/>
	</bean>
	<bean id="canalVentaManager" class="com.cystesoft.vyrbus.service.business.impl.CanalVentaManagerImpl">
		<property name="canalVentaDAO" ref="canalVentaDAO"/>
	</bean>
	<bean id="clienteManager" class="com.cystesoft.vyrbus.service.business.impl.ClienteManagerImpl">
		<property name="clienteDAO" ref="clienteDAO"/>
	</bean>
	<bean id="concesionarioManager" class="com.cystesoft.vyrbus.service.business.impl.ConcesionarioManagerImpl">
		<property name="concesionarioDAO" ref="concesionarioDAO"/>
	</bean>
	<bean id="tipoMovimientoManager" class="com.cystesoft.vyrbus.service.business.impl.TipoMovimientoManagerImpl">
		<property name="tipoMovimientoDAO" ref="tipoMovimientoDAO"/>
	</bean>
	<bean id="controlEspecieValoradaManager" class="com.cystesoft.vyrbus.service.business.impl.ControlEspecieValoradaManagerImpl">
		<property name="controlEspecieValoradaDAO" ref="controlEspecieValoradaDAO"/>
	</bean>
	<bean id="descuentoRecargoManager" class="com.cystesoft.vyrbus.service.business.impl.DescuentoRecargoManagerImpl">
		<property name="descuentoRecargoDAO" ref="descuentoRecargoDAO"/>
	</bean>
	<bean id="documentoBusManager" class="com.cystesoft.vyrbus.service.business.impl.DocumentoBusManagerImpl">
		<property name="documentoBusDAO" ref="documentoBusDAO"/>
	</bean>
	<bean id="especieValoradaManager" class="com.cystesoft.vyrbus.service.business.impl.EspecieValoradaManagerImpl">
		<property name="especieValoradaDAO" ref="especieValoradaDAO"/>
	</bean>
	<bean id="estadoBusManager" class="com.cystesoft.vyrbus.service.business.impl.EstadoBusManagerImpl">
		<property name="estadoBusDAO" ref="estadoBusDAO"/>
	</bean>
	<bean id="estadoCivilManager" class="com.cystesoft.vyrbus.service.business.impl.EstadoCivilManagerImpl">
		<property name="estadoCivilDAO" ref="estadoCivilDAO"/>
	</bean>
	<bean id="estadoDocumentoBusManager" class="com.cystesoft.vyrbus.service.business.impl.EstadoDocumentoBusManagerImpl">
		<property name="estadoDocumentoBusDAO" ref="estadoDocumentoBusDAO"/>
	</bean>
	<bean id="formaPagoManager" class="com.cystesoft.vyrbus.service.business.impl.FormaPagoManagerImpl">
		<property name="formaPagoDAO" ref="formaPagoDAO"/>
	</bean>
	<bean id="grupoMantenimientoManager" class="com.cystesoft.vyrbus.service.business.impl.GrupoMantenimientoManagerImpl">
		<property name="grupoMantenimientoDAO" ref="grupoMantenimientoDAO"/>
	</bean>
	<bean id="itinerarioAgenciaPartidaManager" class="com.cystesoft.vyrbus.service.business.impl.ItinerarioAgenciaPartidaManagerImpl">
		<property name="itinerarioAgenciaPartidaDAO" ref="itinerarioAgenciaPartidaDAO"/>
	</bean>
	<bean id="itinerarioAgenciaLlegadaManager" class="com.cystesoft.vyrbus.service.business.impl.ItinerarioAgenciaLlegadaManagerImpl">
		<property name="itinerarioAgenciaLlegadaDAO" ref="itinerarioAgenciaLlegadaDAO"/>
	</bean>
	<bean id="itinerarioManager" class="com.cystesoft.vyrbus.service.business.impl.ItinerarioManagerImpl">
		<property name="itinerarioDAO" ref="itinerarioDAO"/>
	</bean>
	<bean id="detalleItinerarioManager" class="com.cystesoft.vyrbus.service.business.impl.DetalleItinerarioManagerImpl">
		<property name="detalleItinerarioDAO" ref="detalleItinerarioDAO" />
	</bean>
	<bean id="localidadManager" class="com.cystesoft.vyrbus.service.business.impl.LocalidadManagerImpl">
		<property name="localidadDAO" ref="localidadDAO"/>
	</bean>
	<bean id="mapaBusManager" class="com.cystesoft.vyrbus.service.business.impl.MapaBusManagerImpl">
		<property name="mapaBusDAO" ref="mapaBusDAO"/>
		<property name="ventaPasajesDAO" ref="ventaPasajesDAO" />
	</bean>
	<bean id="nacionalidadManager" class="com.cystesoft.vyrbus.service.business.impl.NacionalidadManagerImpl">
		<property name="nacionalidadDAO" ref="nacionalidadDAO"/>
	</bean>
	<bean id="numeroFlotaManager" class="com.cystesoft.vyrbus.service.business.impl.NumeroFlotaManagerImpl">
		<property name="numeroFlotaDAO" ref="numeroFlotaDAO"/>
	</bean>
	<bean id="objetoBusManager" class="com.cystesoft.vyrbus.service.business.impl.ObjetoBusManagerImpl">
		<property name="objetoBusDAO" ref="objetoBusDAO"/>
	</bean>
	<bean id="operadorTarjetaCreditoManager" class="com.cystesoft.vyrbus.service.business.impl.OperadorTarjetaCreditoManagerImpl">
		<property name="operadorTarjetaCreditoDAO" ref="operadorTarjetaCreditoDAO"/>
	</bean>
	<bean id="pasajeroFrecuenteManager" class="com.cystesoft.vyrbus.service.business.impl.PasajeroFrecuenteManagerImpl">
		<property name="pasajeroFrecuenteDAO" ref="pasajeroFrecuenteDAO"/>
	</bean>
	<bean id="pasajeroManager" class="com.cystesoft.vyrbus.service.business.impl.PasajeroManagerImpl">
		<property name="pasajeroDAO" ref="pasajeroDAO"/>
	</bean>
	<bean id="personalManager" class="com.cystesoft.vyrbus.service.business.impl.PersonalManagerImpl">
		<property name="personalDAO" ref="personalDAO"/>
	</bean>
	<bean id="preferenciaAlimentariaManager" class="com.cystesoft.vyrbus.service.business.impl.PreferenciaAlimentariaManagerImpl">
		<property name="preferenciaAlimentariaDAO" ref="preferenciaAlimentariaDAO"/>
	</bean>
	<bean id="rutaManager" class="com.cystesoft.vyrbus.service.business.impl.RutaManagerImpl">
		<property name="rutaDAO" ref="rutaDAO"/>
	</bean>
	<bean id="servicioManager" class="com.cystesoft.vyrbus.service.business.impl.ServicioManagerImpl">
		<property name="servicioDAO" ref="servicioDAO"/>
	</bean>
	<bean id="sexoManager" class="com.cystesoft.vyrbus.service.business.impl.SexoManagerImpl">
		<property name="sexoDAO" ref="sexoDAO"/>
	</bean>
	<bean id="tarjetaCreditoManager" class="com.cystesoft.vyrbus.service.business.impl.TarjetaCreditoManagerImpl">
		<property name="tarjetaCreditoDAO" ref="tarjetaCreditoDAO"/>
	</bean>
	<bean id="tipoAgenciaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoAgenciaManagerImpl">
		<property name="tipoAgenciaDAO" ref="tipoAgenciaDAO"/>
	</bean>
	<bean id="tipoComprobanteManager" class="com.cystesoft.vyrbus.service.business.impl.TipoComprobanteManagerImpl">
		<property name="tipoComprobanteDAO" ref="tipoComprobanteDAO"/>
	</bean>
	<bean id="tipoDocumentoManager" class="com.cystesoft.vyrbus.service.business.impl.TipoDocumentoManagerImpl">
		<property name="tipoDocumentoDAO" ref="tipoDocumentoDAO"/>
	</bean>
	<bean id="tipoFlotaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoFlotaManagerImpl">
		<property name="tipoFlotaDAO" ref="tipoFlotaDAO"/>
	</bean>
	<bean id="tipoFormaPagoManager" class="com.cystesoft.vyrbus.service.business.impl.TipoFormaPagoManagerImpl">
		<property name="tipoFormaPagoDAO" ref="tipoFormaPagoDAO"/>
	</bean>
	<bean id="tipoItinerarioManager" class="com.cystesoft.vyrbus.service.business.impl.TipoItinerarioManagerImpl">
		<property name="tipoItinerarioDAO" ref="tipoItinerarioDAO"/>
	</bean>
	<bean id="tipoPersonalManager" class="com.cystesoft.vyrbus.service.business.impl.TipoPersonalManagerImpl">
		<property name="tipoPersonalDAO" ref="tipoPersonalDAO"/>
	</bean>
	<bean id="tipoViaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoViaManagerImpl">
		<property name="tipoViaDAO" ref="tipoViaDAO"/>
	</bean>
	<bean id="tipoZonaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoZonaManagerImpl">
		<property name="tipoZonaDAO" ref="tipoZonaDAO"/>
	</bean>
	<bean id="ubigeoManager" class="com.cystesoft.vyrbus.service.business.impl.UbigeoManagerImpl">
		<property name="ubigeoDAO" ref="ubigeoDAO"/>
	</bean>
	<bean id="usuarioManager" class="com.cystesoft.vyrbus.service.business.impl.UsuarioManagerImpl">
		<property name="usuarioDAO" ref="usuarioDAO"/>
	</bean>
	<bean id="ventaPasajesManager" class="com.cystesoft.vyrbus.service.business.impl.VentaPasajesManagerImpl">
		<property name="ventaPasajesDAO" ref="ventaPasajesDAO"/>
		<property name="controlEspecieValoradaDAO" ref="controlEspecieValoradaDAO" />
		<property name="itinerarioDAO" ref="itinerarioDAO"/>
		<property name="tmpOcupacionAsientosDAO" ref="tmpOcupacionAsientosDAO" />
		<property name="rutaDAO" ref="rutaDAO"/>
		<property name="pasajeroFrecuenteDAO" ref="pasajeroFrecuenteDAO" />
		<property name="titanDAO" ref="titanDAO" />
		<property name="especieValoradaDAO" ref="especieValoradaDAO" />
		<property name="lineaCreditoClienteDAO" ref="lineaCreditoClienteDAO" />
	</bean>
	<bean id="programacionServicioManager" class="com.cystesoft.vyrbus.service.business.impl.ProgramacionServicioManagerImpl">
		<property name="programacionServicioDAO" ref="programacionServicioDAO"/>
	</bean>
	<bean id="usuarioHardwareManager" class="com.cystesoft.vyrbus.service.business.impl.UsuarioHardwareManagerImpl">
		<property name="usuarioHardwareDAO" ref="usuarioHardwareDAO"/>
		<property name="agenciaDAO" ref="agenciaDAO"/>
	</bean>
	<bean id="tipoGastoManager" class="com.cystesoft.vyrbus.service.business.impl.TipoGastoManagerImpl">
		<property name="tipoGastoDAO" ref="tipoGastoDAO"/>
	</bean>
	<bean id="cortesiaManager" class="com.cystesoft.vyrbus.service.business.impl.CortesiaManagerImpl">
		<property name="cortesiaDAO" ref="cortesiaDAO"/>
	</bean>
	<bean id="motivoCortesiaManager" class="com.cystesoft.vyrbus.service.business.impl.MotivoCortesiaManagerImpl">
		<property name="motivocortesiaDAO" ref="motivocortesiaDAO"/>
	</bean>
	<bean id="manifiestoManager" class="com.cystesoft.vyrbus.service.business.impl.ManifiestoManagerImpl">
		<property name="manifiestoDAO" ref="manifiestoDAO"/>
	</bean>
	<bean id="tmpOcupacionAsientosManager" class="com.cystesoft.vyrbus.service.business.impl.TmpOcupacionAsientosManagerImpl">
		<property name="tmpOcupacionAsientosDAO" ref="tmpOcupacionAsientosDAO" />
		<property name="ventaPasajesDAO" ref="ventaPasajesDAO" />
	</bean>
	<bean id="rolManager" class="com.cystesoft.vyrbus.service.business.impl.RolManagerImpl">
		<property name="rolDAO" ref="rolDAO"/>
	</bean>
	<bean id="usuarioRolManager" class="com.cystesoft.vyrbus.service.business.impl.UsuarioRolManagerImpl">
		<property name="usuarioRolDAO" ref="UsuarioRolDAO"/>
	</bean>

	<bean id="opcionMenuManager" class="com.cystesoft.vyrbus.service.business.impl.OpcionMenuManagerImpl">
		<property name="opcionMenuDAO" ref="opcionMenuDAO"/>
	</bean>
	<bean id="rolOpcionMenuManager" class="com.cystesoft.vyrbus.service.business.impl.RolOpcionMenuManagerImpl">
		<property name="rolOpcionMenuDAO" ref="rolOpcionMenuDAO"/>
	</bean>
	<bean id="gastoManager" class="com.cystesoft.vyrbus.service.business.impl.GastoManagerImpl">
		<property name="gastoDAO" ref="gastoDAO"/>
	</bean>
	<bean id="liquidacionBusManager" class="com.cystesoft.vyrbus.service.business.impl.LiquidacionBusManagerImpl">
		<property name="liquidacionBusDAO" ref="liquidacionBusDAO"/>
	</bean>
	<bean id="gastoBusManager" class="com.cystesoft.vyrbus.service.business.impl.GastoBusManagerImpl">
		<property name="gastoBusDAO" ref="gastoBusDAO"/>
	</bean>
	<bean id="liquidacionManager" class="com.cystesoft.vyrbus.service.business.impl.LiquidacionManagerImpl">
		<property name="liquidacionDAO" ref="liquidacionDAO"/>
	</bean> 
	<bean id="detalleLiquidacionManager" class="com.cystesoft.vyrbus.service.business.impl.DetalleLiquidacionManagerImpl">
		<property name="detalleLiquidacionDAO" ref="detalleLiquidacionDAO"/>
	</bean>
	<bean id="liquidacionOficinaManager" class="com.cystesoft.vyrbus.service.business.impl.LiquidacionOficinaManagerImpl">
		<property name="liquidacionOficinaDAO" ref="liquidacionOficinaDAO"/>
	</bean> 
	<bean id="transbordoManager" class="com.cystesoft.vyrbus.service.business.impl.TransbordoManagerImpl">
		<property name="transbordoDAO" ref="transbordoDAO"/>
	</bean> 
	<bean id="reportesManager" class="com.cystesoft.vyrbus.service.business.impl.ReportesManagerImpl">
		<property name="reportesDAO" ref="reportesDAO"/>
	</bean> 
	<bean id="autorizadorCortesiaManager" class="com.cystesoft.vyrbus.service.business.impl.AutorizadorCortesiaManagerImpl" >
		<property name="autorizadorCortesiaDAO" ref="autorizadorCortesiaDAO" />
		<property name="autorizadorMotivoCortesiaDAO" ref="autorizadorMotivoCortesiaDAO" />
	</bean> 
	<bean id="solicitudCarteraManager" class="com.cystesoft.vyrbus.service.business.impl.SolicitudCarteraManagerImpl" >
		<property name="solicitudCarteraDAO" ref="solicitudCarteraDAO" />
	</bean>
	<bean id="solicitudClienteCreditoManager" class="com.cystesoft.vyrbus.service.business.impl.SolicitudClienteCreditoMangerImpl">
		<property name="solicitudClienteCreditoDAO" ref="solicitudClienteCreditoDAO" />
	</bean>
	<bean id="tipoCobranzaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoCobranzaManagerImpl">
		<property name="tipoCobranzaDAO" ref="tipoCobranzaDAO" />
	</bean>
	<bean id="carteraClienteManager" class="com.cystesoft.vyrbus.service.business.impl.CarteraClienteManagerImpl" >
		<property name="carteraClienteDAO" ref="carteraClienteDAO" />
	</bean>
	<bean id="usuarioAprobadorManager" class="com.cystesoft.vyrbus.service.business.impl.UsuarioAprobadorManagerImpl" >
		<property name="usuarioArobadorDAO" ref="usuarioArobadorDAO" />
	</bean>        
	<bean id="lineaContadoClienteManager" class="com.cystesoft.vyrbus.service.business.impl.LineaContadoClienteManagerImpl" >
		<property name="lineaContadoClienteDAO" ref="lineaContadoClienteDAO" />
	</bean>
	<bean id="lineaCreditoClienteManager" class="com.cystesoft.vyrbus.service.business.impl.LineaCreditoClienteManagerImpl" >
		<property name="lineaCreditoClienteDAO" ref="lineaCreditoClienteDAO" />
	</bean>
	<bean id="motivoTemporadaAltaManager" class="com.cystesoft.vyrbus.service.business.impl.MotivoTemporadaAltaManagerImpl">
		<property name="motivoTemporadaAltaDAO" ref="motivoTemporadaAltaDAO" />
	</bean>
	<bean id="temporadaAltaManager" class="com.cystesoft.vyrbus.service.business.impl.TemporadaAltaManagerImpl">
		<property name="temporadaAltaDAO" ref="temporadaAltaDAO"/>
	</bean>        
	<bean id="promocionManager" class="com.cystesoft.vyrbus.service.business.impl.PromocionManagerImpl">
		<property name="promocionDAO" ref="promocionDAO" />
	</bean>
	<bean id="puntosPasajeroFrecuenteManager" class="com.cystesoft.vyrbus.service.business.impl.PuntosPasajeroFrecuenteManagerImpl">
		<property name="puntosPasajeroFrecuenteDAO" ref="puntosPasajeroFrecuenteDAO" />
	</bean>
	<bean id="parametrosManager" class="com.cystesoft.vyrbus.service.business.impl.ParametrosManajerImpl">
		<property name="parametrosDAO" ref="parametrosDAO" />
	</bean>
 	<bean id="historicoMembresiaManager" class="com.cystesoft.vyrbus.service.business.impl.HistoricoMembresiaManagerImpl">
 		<property name="historicoMembresiaDAO" ref="historicoMembresiaDAO" />
 	</bean>
 	<bean id="ocupacionAsientosDesbloqueadosManager" class="com.cystesoft.vyrbus.service.business.impl.OcupacionAsientosDesbloqueadosManagerImpl">
 		<property name="ocupacionAsientosDesbloqueadosDAO" ref="ocupacionAsientosDesbloqueadosDAO" />
 	</bean>
 	<bean id="reniecManager" class="com.cystesoft.vyrbus.service.business.impl.ReniecManagerImpl">
 		<property name="reniecDAO" ref="reniecDAO" />
 	</bean>
   	<bean id="historicoControlEspecieValoradaManager" class="com.cystesoft.vyrbus.service.business.impl.HistoricoControlEspecieValoradaManagerImpl">
   		<property name="historicoControlEspecieValoradaDAO" ref="historicoControlEspecieValoradaDAO" />
   	</bean>
 	<bean id="centroCostoManager" class="com.cystesoft.vyrbus.service.business.impl.CentroCostoManagerImpl">
 		<property name="centroCostoDAO" ref="centroCostoDAO" />
 	</bean>
 	<bean id="terminosVentaManager" class="com.cystesoft.vyrbus.service.business.impl.TerminosVentaManagerImpl">
		<property name="terminosVentaDAO" ref="terminosVentaDAO" />
	</bean>
	<bean id="detalleManifiestoManager" class="com.cystesoft.vyrbus.service.business.impl.DetalleManifiestoManagerImpl">
		<property name="detalleManifiestoDAO" ref="detalleManifiestoDAO" />
	</bean>
	<bean id="serieEspecieValoradaManager" class="com.cystesoft.vyrbus.service.business.impl.SerieEspecieValoradaManagerImpl">
		<property name="serieEspecieValoradaDAO" ref="serieEspecieValoradaDAO" />
	</bean>
	<bean id="autorizadorMotivoCortesiaManager" class="com.cystesoft.vyrbus.service.business.impl.AutorizadorMotivoCortesiaManagerImpl">
		<property name="autorizadorMotivoCortesiaDAO" ref="autorizadorMotivoCortesiaDAO" />		
	</bean>
	<bean id="tarifaFechaAbiertaManager" class="com.cystesoft.vyrbus.service.business.impl.TarifaFechaAbiertaManagerImpl">
		<property name="tarifaFechaAbiertaDAO" ref="tarifaFechaAbiertaDAO" />
	</bean>
	<bean id="ventaTramoManager" class="com.cystesoft.vyrbus.service.business.impl.VentaTramoManagerImpl">
		<property name="ventaTramoDAO" ref="ventaTramoDAO" />
	</bean>
	<bean id="rangoSobregiroManager" class="com.cystesoft.vyrbus.service.business.impl.RangoSobregiroManagerImpl">
		<property name="rangoSobregiroDAO" ref="rangoSobregiroDAO" />
	</bean>
	<bean id="configuracionImpresoraManager" class="com.cystesoft.vyrbus.service.business.impl.ConfiguracionImpresoraManagerImpl">
		<property name="configuracionImpresoraDAO" ref="configuracionImpresoraDAO" />
	</bean>
	<bean id="destinatariosEmailsManager" class="com.cystesoft.vyrbus.service.business.impl.DestinatariosEmailsManagerImpl">
		<property name="destinatariosEmailsDAO" ref="destinatariosEmailsDAO" />
	</bean>
	<bean id="tipoCentroCostoManager" class="com.cystesoft.vyrbus.service.business.impl.TipoCentroCostoManagerImpl">
		<property name="tipoCentroCostoDAO" ref="tipoCentroCostoDAO" />
	</bean>
	<bean id="tipoMonedaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoMonedaManagerImpl">
		<property name="tipoMonedaDAO" ref="tipoMonedaDAO" />
	</bean>
	<bean id="tipoCambioManager" class="com.cystesoft.vyrbus.service.business.impl.TipoCambioManagerImpl">
		<property name="tipoCambioDAO" ref="tipoCambioDAO" />
	</bean>
	<bean id="sessionManager" class="com.cystesoft.vyrbus.service.business.impl.SessionManagerImpl">
		<property name="sessionDAO" ref="sessionDAO" />
	</bean>
	<bean id="reimpresionAnticipadaManager" class="com.cystesoft.vyrbus.service.business.impl.ReimpresionAnticipadaManagerImpl">
		<property name="reimpresionAnticipadaDAO" ref="reimpresionAnticipadaDAO" />
	</bean>
	<bean id="tarifaRegularManager" class="com.cystesoft.vyrbus.service.business.impl.TarifaRegularManagerImpl">
		<property name="tarifaRegularDAO" ref="tarifaRegularDAO" />
	</bean>	
	<bean id="tarifaClienteManager" class="com.cystesoft.vyrbus.service.business.impl.TarifaClienteManagerImpl">
		<property name="tarifaClienteDAO" ref="tarifaClienteDAO" />
	</bean>
	<bean id="ifaRegularifaClienteDetalleManager" class="com.cystesoft.vyrbus.service.business.impl.TarifaClienteDetalleManagerImpl">
		<property name="tarifaClienteDetalleDAO" ref="tarifaClienteDetalleDAO" />
	</bean>
	<bean id="tipoAsientoManager" class="com.cystesoft.vyrbus.service.business.impl.TipoAsientoManagerImpl">
		<property name="tipoAsientoDAO" ref="tipoAsientoDAO" />
	</bean>
	<bean id="poolLocalidadManager" class="com.cystesoft.vyrbus.service.business.impl.PoolLocalidadManagerImpl">
		<property name="poolLocalidadDAO" ref="poolLocalidadDAO" />
	</bean>
	<bean id="ventaPoolManager" class="com.cystesoft.vyrbus.service.business.impl.VentaPoolManagerImpl">
		<property name="ventaPoolDAO" ref="ventaPoolDAO" />
	</bean>
	<bean id="ocupacionAsientosBloqueadosPoolManager" class="com.cystesoft.vyrbus.service.business.impl.OcupacionAsientosBloqueadosPoolManagerImpl">
		<property name="ocupacionAsientosBloqueadosPoolDAO" ref="ocupacionAsientosBloqueadosPoolDAO" />
	</bean>
	<bean id="tipoNotaManager" class="com.cystesoft.vyrbus.service.business.impl.TipoNotaManagerImpl">
		<property name="tipoNotaDAO" ref="tipoNotaDAO" />
	</bean>
	<bean id="embarquePasajeroManager" class="com.cystesoft.vyrbus.service.business.impl.EmbarquePasajeroManagerImpl">
		<property name="embarquePasajeroDAO" ref="embarquePasajeroDAO"/>
	</bean>
	<bean id="detalleEmbarquePasajeroManager" class="com.cystesoft.vyrbus.service.business.impl.DetalleEmbarquePasajeroManagerImpl">
	   <property name="detalleEmbarquePasajeroDAO" ref="detalleEmbarquePasajeroDAO"/>
	</bean>
	<bean id="tipoPrecioManager" class="com.cystesoft.vyrbus.service.business.impl.TipoPrecioManagerImpl">
		<property name="tipoPrecioDAO" ref="tipoPrecioDAO" />
	</bean>
	<bean id="detalleButacaManager" class="com.cystesoft.vyrbus.service.business.impl.DetalleButacaManagerImpl">
	   <property name="detalleButacaDAO" ref="detalleButacaDAO"/>
	</bean>
	<bean id="comprobantesBloqueadosManager" class="com.cystesoft.vyrbus.service.business.impl.ComprobantesBloqueadosManagerImpl">
	   <property name="comprobantesBloqueadosDAO" ref="comprobantesBloqueadosDAO"/>
	</bean>
	
<!-- 	VENTA DE SEGUROS -->
	<bean id="ventaSeguroManager" class="com.cystesoft.vyrbus.service.business.impl.VentaSeguroManagerImpl">
		<property name="ventaSeguroDAO" ref="ventaSeguroDAO" />
	</bean>
	
	<!-- 	TITAN -->
	<bean id="titanManager" class="com.cystesoft.vyrbus.service.business.impl.TitanManagerImpl">
		<property name="titanDAO" ref="titanDAO" />
	</bean>
	
<!-- 	HOJA DE RUTA ELECTRONICA -->
	<bean id="mtcRutaManager" class="com.cystesoft.vyrbus.service.business.impl.MTCRutaManagerImpl">
		<property name="mtcRutaDAO" ref="mtcRutaDao" />
	</bean>
	<bean id="mtcDireccionTerminalManager" class="com.cystesoft.vyrbus.service.business.impl.MTCDireccionTerminalManagerImpl">
		<property name="mtcDireccionTerminalDAO" ref="mtcDireccionTerminalDAO" />
	</bean>
	<bean id="mtcDetalleRutaManager" class="com.cystesoft.vyrbus.service.business.impl.MTCDetalleRutaManagerImpl">
		<property name="mtcDetalleRutaDAO" ref="mtcDetalleRutaDAO" />
	</bean>
	<bean id="hreManager" class="com.cystesoft.vyrbus.service.business.impl.HREManagerImpl">
		<property name="hreDao" ref="hreDao" />
	</bean>
	<bean id="detalleFlotaHREManager" class="com.cystesoft.vyrbus.service.business.impl.DetalleFlotaHREManagerImpl">
		<property name="detalleFlotaHREDAO" ref="detalleFlotaHREDAO" />
	</bean>

</beans>