<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_1627864417219"> 

	<description><![CDATA[My ZK Application]]></description>
	<display-name>transmar_vyrbus</display-name>

	<!-- spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>-->
	
	<!-- //// -->
	<!-- ZK -->
	<listener>
		<description>ZK listener for session cleanup</description>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>

		<!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
		It must be the same as <url-pattern> for the update engine.
		-->
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<!-- Optional. Specifies whether to compress the output
		of the ZK loader. It speeds up the transmission over slow Internet.
		However, if you configure a filter to post-processing the
		output, you might have to disable it.

		Default: true
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
		-->
		<!-- [Optional] Specifies the default log level: OFF, ERROR, WARNING,
			INFO, DEBUG and FINER. If not specified, the system default is used.
		<init-param>
			<param-name>log-level</param-name>
			<param-value>OFF</param-value>
		</init-param>
		-->
		<load-on-startup>1</load-on-startup><!-- Must -->
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<!-- [Optional] Uncomment it if you want to use richlets.
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>/zk/*</url-pattern>
	</servlet-mapping>
	-->
	<servlet>
		<description>The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>

		<!-- [Optional] Specifies whether to compress the output
		of the ZK loader. It speeds up the transmission over slow Internet.
		However, if your server will do the compression, you might have to disable it.

		Default: true
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
		-->
		<!-- [Optional] Specifies the AU extension for particular prefix.
		<init-param>
			<param-name>extension0</param-name>
			<param-value>/upload=com.my.MyUploader</param-value>
		</init-param>
		-->
	</servlet>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>

	<!-- [Optional]
	Uncomment if you want to use the ZK filter to post process the HTML output
	generated by other technology, such as JSP and velocity.
	<filter>
		<filter-name>zkFilter</filter-name>
		<filter-class>org.zkoss.zk.ui.http.DHtmlLayoutFilter</filter-class>
		<init-param>
			<param-name>extension</param-name>
			<param-value>html</param-value>
		</init-param>
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>zkFilter</filter-name>
		<url-pattern>your URI pattern</url-pattern>
	</filter-mapping>
	-->
	<!-- //// -->

	<!-- ///////////// -->
	<!-- DSP (optional) 
	Uncomment it if you want to use DSP
	However, it is turned on since zksandbox uses DSP to generate CSS. -->
	<servlet>
		<servlet-name>dspLoader</servlet-name>
		<servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
		<init-param>
			<param-name>class-resource</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	
	<servlet>
	   <description>Servlet para el e-voucher</description>
	   <display-name>E-voucher</display-name>
	   <servlet-name>EticketServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.servlet.EticketServlet</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para el e-voucher de tu entrada</description>
	   <display-name>E-voucherTuEntrada</display-name>
	   <servlet-name>EticketTuEntradaServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.servlet.EticketTuEntradaServlet</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para la liquidacion de tu entrada</description>
	   <display-name>LiquidacionTuEntrada</display-name>
	   <servlet-name>LiquidacionTuEntradaServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.servlet.LiquidacionTuEntradaServlet</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para las ventas corporativas</description>
	   <display-name>VentasCorporativas</display-name>
	   <servlet-name>DetalladoVentasServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.servlet.DetalladoVentasServlet</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para el reporte el historial de manifiestos</description>
	   <display-name>ReporteManifiesto</display-name>
	   <servlet-name>ReporteManifiestoServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.servlet.ReporteManifiestoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>Servleft para los gastos y otros ingresos en XLS</description>
		<servlet-name>XlsGastosOtrosIngresos</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsGastosOtrosIngresos</servlet-class>
	</servlet>
	<servlet>
		<description>Servleft para las anulaciones y postergaciones en XLS</description>
		<servlet-name>XlsAnulacionesPostergaciones</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsAnulacionesPostergaciones</servlet-class>
	</servlet>
	<servlet>
		<description>Servleft para el avance semanal en XLS</description>
		<servlet-name>XlsAvanceSemanal</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsAvanceSemanal</servlet-class>
	</servlet>
	<servlet>
		<description>Servleft para el avance semanal por rutas en XLS</description>
		<servlet-name>XlsAvanceSemanalXRutas</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsAvanceSemanalXRutas</servlet-class>
	</servlet>
	<servlet>
	    <description>Servleft para el Estado de Cuenta</description>
	    <servlet-name>exportEstadosCuenta</servlet-name>
	    <servlet-class>com.cystesoft.vyrbus.service.excel.XlsEstadosCuenta</servlet-class>
	</servlet>
	<servlet>
		<description>Servleft para la liquidacion diaria de ventas</description>
		<servlet-name>XlsLiquidacionDiariaVentas</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsLiquidacionDiariaVentas</servlet-class>
	</servlet>
	<servlet>
		<description>Servleft para el detallado de la venta de seguros</description>
		<servlet-name>XlsDetalleVentaSeguros</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsDetalleVentaSeguros</servlet-class>
	</servlet>
	<servlet>
		<description>Servleft para exportar las ventas por counter</description>
		<servlet-name>XlsVentasByCounters</servlet-name>
		<servlet-class>com.cystesoft.vyrbus.service.excel.XlsVentasByCounters</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para las Ventas del Pago a Pilotos</description>
	   <display-name>VentasPagoPilotos</display-name>
	   <servlet-name>XlsVentasPagoPilotosServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.excel.XlsVentasPagoPilotos</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para el Registro de Ventas</description>
	   <display-name>RegistroVentas</display-name>
	   <servlet-name>XlsRegistroVentasServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.excel.XlsRegistroVentas</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para la Devolucion del ISC</description>
	   <display-name>DevolucionIsc</display-name>
	   <servlet-name>XlsDevolucionIscServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.excel.XlsDevolucionIsc</servlet-class>
	</servlet>
	<servlet>
	   <description>Servlet para el Reporte General de Ventas</description>
	   <display-name>ReporteGeneralVentas</display-name>
	   <servlet-name>XlsReporteGeneralVentasServlet</servlet-name>
	   <servlet-class>com.cystesoft.vyrbus.service.excel.XlsReporteGeneralVentas</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dspLoader</servlet-name>
		<url-pattern>*.dsp</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>EticketServlet</servlet-name>
    <url-pattern>/servlet/EticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EticketTuEntradaServlet</servlet-name>
    <url-pattern>/servlet/EticketTuEntradaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LiquidacionTuEntradaServlet</servlet-name>
    <url-pattern>/servlet/LiquidacionTuEntradaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetalladoVentasServlet</servlet-name>
    <url-pattern>/servlet/DetalladoVentasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteManifiestoServlet</servlet-name>
    <url-pattern>/servlet/ReporteManifiestoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>XlsGastosOtrosIngresos</servlet-name>
		<url-pattern>/exportXlsGastosOtrosIngresos.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsAnulacionesPostergaciones</servlet-name>
		<url-pattern>/exportXlsAnulacionesPostergaciones.htm</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
		<servlet-name>XlsAvanceSemanal</servlet-name>
		<url-pattern>/exportXlsAvanceSemanal.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsAvanceSemanalXRutas</servlet-name>
		<url-pattern>/exportXlsAvanceSemanalXRutas.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>exportEstadosCuenta</servlet-name>
	    <url-pattern>/exportEstadosCuenta.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsLiquidacionDiariaVentas</servlet-name>
		<url-pattern>/exportXlsLiquidacionDiariaVentas.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsDetalleVentaSeguros</servlet-name>
		<url-pattern>/exportXlsDetalleVentaSeguros.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsVentasByCounters</servlet-name>
		<url-pattern>/exportXlsVentasByCounters.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsVentasPagoPilotosServlet</servlet-name>
		<url-pattern>/exportXlsVentasPagoPilotos.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsRegistroVentasServlet</servlet-name>
		<url-pattern>/exportXlsRegistroVentas.htm</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>XlsDevolucionIscServlet</servlet-name>
		<url-pattern>/exportXlsDevolucionIsc.htm</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>XlsReporteGeneralVentasServlet</servlet-name>
		<url-pattern>/exportXlsReporteGeneralVentas.htm</url-pattern>
	</servlet-mapping>	
  <!--
  <security-constraint>
  	<display-name>SecuritySisvyr</display-name>
  	<web-resource-collection>
  		<web-resource-name>sisvyrSSL</web-resource-name>
  		<url-pattern>/*</url-pattern>
  	</web-resource-collection>  	
  	<user-data-constraint>
  		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>-->
	
	<!-- Hibernate OpenSession Filter -->
	<filter>
		<filter-name>lazyLoadingFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<!--<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>-->
	</filter>
	<filter-mapping>
		<filter-name>lazyLoadingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- /////////// -->
	<!-- [Optional] Session timeout -->
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>

	<!-- [Optional] MIME mapping -->
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/vnd.ms-word</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zhtml</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zul</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	
	<welcome-file-list>
		<welcome-file>index.zul</welcome-file>
		<welcome-file>index.zhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
</web-app>
